.App {
  text-align: center;
}

.Header {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: black;
}

.card {
  border: 4px solid blue;
  width: 100%;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1rem;
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid yellow;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: green;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: purple;
  background-color: purple;
}
